<div class="alert alert-danger rounded-0 border-0">
    <i class="bi bi-exclamation-circle-fill"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda commodi consectetur corporis doloribus enim esse excepturi harum impedit, in iure magnam minima officia, officiis placeat qui quidem suscipit voluptatum?
</div>